@media screen and (max-width: 1600px) {

    ul,
    li {

        margin-inline: 3rem;
    }

    .image__deco {
        position: relative;
        width: 380px;
        height: 280px;
        overflow: hidden;

    }

    .about p {

        width: 85%;
        text-align: center;


    }
}

@media screen and (max-width: 1200px) {
    .about p {

        width: 95%;
        text-align: center;


    }

    ul,
    li {

        margin-inline: 3rem;
    }

    .image__deco {
        position: relative;
        width: 320px;
        height: 220px;
        overflow: hidden;

    }

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 80%;
        height: 75%;

    }
}

@media screen and (max-width: 1150px) {

    ul,
    li {

        margin-inline: 3rem;
    }

    .image__deco {
        position: relative;
        width: 290px;
        height: 190px;
        overflow: hidden;
    }

    .container {
        height: 20vh;
        width: 100%;

    }

    .about p {

        width: 85%;
        text-align: center;
    }

    .pres {
        margin-top: 5rem;
    }

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 80%;
        height: 70%;

    }


}

@media screen and (max-width: 967px) {

    ul,
    li {

        margin-inline: 1rem;
    }

    .header__top {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 80%;
        height: 80%;

    }

    .info__contact {
        padding-left: 0;
    }

    .footer__contact {
        width: 80%;

    }


    .about p {

        width: 80%;
        text-align: center;

    }

    .cover__section {
        margin-bottom: 0;
        width: 100%;
    }

    .button_callto {

        position: absolute;
        top: 0;
        height: 120px;

    }

    .container {
        height: 100%;
        width: 100%;
    }

    .row__image {

        flex-direction: column;
    }

    .row__image img {
        padding: 1.5rem;
    }

    .image__deco {
        width: 650px;
        height: 450px;
    }

    footer {

        height: 100%;
        flex-direction: column;

    }

    .footer__content {
        padding-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .footer__contact {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-right: none;
    }

    .rs {
        padding-top: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .twitter__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 8rem;
        padding-left: 3rem;
    }

    .cover__section {
      
        width: 100%;
    }

}

@media screen and (max-width: 750px) {

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 85%;
        height: 55%;

    }

    .infos h1 {
        font-size: 1.5em;
    }

    .about p {

        width: 90%;
        text-align: center;

    }

    .button_callto {

        padding-right: 0;

    }

    .pres {
        padding: 2rem;
    }

    .padding {
        padding-inline: 2rem;
    }

    .product {
        height: 3.5rem;
        width: 3.5rem;
    }

    .container__padding {
        padding-inline: 2rem;
    }

    .footer__contact {
        border-right: 0px !important;
        border-right: none;
    }

    .cover__section {
        padding-top: 5rem;
        padding-bottom: 1rem;
        margin: 0;
    }
}


@media screen and (max-width: 638px) {
    .header__top {
        background-size: contain;
    }

    .prev,
    .next {
        font-size: 15px;
        top: 70%;
    }

    .infos h1 {
        font-size: 1em;
    }

    .pres {
        padding: 1rem;
    }

    .padding {
        padding-inline: 1rem;
    }

    .product {
        height: 3.5rem;
        width: 3.5rem;
    }

    .container__padding {
        padding-inline: 1rem;
    }


    .cover__section {
        margin-top: 2rem;
    }

    .code__skill {
        padding-inline: 1rem;
    }

    .hobbie__type,
    .tech {
        width: 5rem;
        height: 5rem;
    }

    h6 {
        text-align: center;
        font-size: 0.8rem !important;
    }

    .info__contact p {
        width: 90%;
        text-align: left;
    }

    nav {
        display: none;
    }

    .exp {
        margin-top: 1rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .exp__info {
        margin-top: 2rem;
        width: 100%;
        border-bottom: 1px solid var(--font__light);
        padding-bottom: 2rem;
    }

    .product {
        height: 2.5rem;
        width: 2.5rem;
    }

    .progressbar {
        height: 12px;

    }

    .footer__content {
        width: 90%;
        flex-direction: column;
    }

    .footer__contact {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--font__light);
    }

    .title__contact {
        width: 100%;
        height: 20%;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }

    .rs {
        height: 15% !important;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rs__link img {
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .marquee img {
        height: 7rem !important;

    }

    .button_callto {

        position: absolute;
        top: 0;
        height: 120px;
        padding-right: 2rem;

    }

    .image__deco {
        width: 500px;
        height: 400px;
    }

    .twitter__container {

        padding-left: 1rem;
    }

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 85%;
        height: 40%;

    }
}



@media screen and (max-width: 550px) {

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 85%;
        height: 35%;

    }
}

@media screen and (max-width: 400px) {

    .image__deco4 img.zoomed,
    .image__deco5 img.zoomed,
    .image__deco6 img.zoomed {

        width: 85%;
        height: 25%;

    }

    .image__deco {
        position: relative;
        width: 380px;
        height: 280px;
        overflow: hidden;

    }

    .pres {
        height: 100%;
        width: 100%;
        padding-inline: 1rem;
        padding-top: 1rem;
    }

    .cover__section {
        padding-top: 5rem;
        padding-bottom: 1rem;
        margin: 0;
    }
}